services:
  dut:
    image: python:alpine3.23
    container_name: dut
    privileged: true
    command: ["sh", "-c", "sleep infinity"]
    networks:
      net:
        ipv4_address: 198.168.0.2

  tg:
    image: python:alpine3.23
    container_name: tg
    privileged: true
    command: ["sh", "-c", "sleep infinity"]
    networks:
      net:
        ipv4_address: 198.168.0.3

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 198.168.0.0/24
