services:
  dut:
    image: python:3.14.2-slim
    container_name: Device-Under-Test
    privileged: true
    command: [ "sh", "-c", "apt-get update && apt-get install -y --no-install-recommends tcpdump iproute2 procps && rm -rf /var/lib/apt/lists/* && sysctl -w net.ipv4.ip_forward=1 && ip route add 172.16.0.254/32 via 10.0.0.3 && sleep infinity" ]
    networks:
      net:
        ipv4_address: 192.168.0.2
      nexthop:
        ipv4_address: 10.0.0.2

  tg:
    build: ./
    container_name: Traffic-Generator
    privileged: true
    command: [ "sh","-c","ip route replace default via 192.168.0.2 && exec python ./scripts/traffic.py" ]
    networks:
      net:
        ipv4_address: 192.168.0.3

  nexthop_1:
    image: python:3.14.2-slim
    container_name: Nexthop-1
    privileged: true
    command: [ "sh", "-c", "apt-get update && apt-get install -y --no-install-recommends tcpdump iproute2 && rm -rf /var/lib/apt/lists/* && ip link add name lo1 type dummy && ip addr add 172.16.0.254/32 dev lo1 && ip link set lo1 up && sleep infinity" ]
    networks:
      nexthop:
        ipv4_address: 10.0.0.3

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
  nexthop:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
