services:
  dut:
    image: python:3.14.2-alpine
    container_name: dut
    privileged: true
    command: [ "sh", "-c", "apk add --no-cache tcpdump && sleep infinity" ]
    networks:
      net:
        ipv4_address: 192.168.0.2

  tg:
    build: ./
    container_name: tg
    privileged: true
    command: [ "sh", "-c", "sleep infinity" ]
    networks:
      net:
        ipv4_address: 192.168.0.3

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
