services:
  dut:
    build:
      context: .
      dockerfile: Dockerfile.dut
    container_name: Device-Under-Test
    privileged: true
    networks:
      net:
        ipv4_address: 192.168.0.2
      nexthop1:
        ipv4_address: 10.0.1.2
      nexthop2:
        ipv4_address: 10.0.2.2

  tg:
    build:
      context: .
      dockerfile: Dockerfile.tg
    container_name: Traffic-Generator
    privileged: true
    networks:
      net:
        ipv4_address: 192.168.0.3

  nexthop_1:
    build:
      context: .
      dockerfile: Dockerfile.nexthop
    container_name: Nexthop-1
    privileged: true
    networks:
      nexthop1:
        ipv4_address: 10.0.1.3

  nexthop_2:
    build:
      context: .
      dockerfile: Dockerfile.nexthop
    container_name: Nexthop-2
    privileged: true
    networks:
      nexthop2:
        ipv4_address: 10.0.2.3

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
  nexthop1:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.1.0/24
  nexthop2:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.2.0/24
